git+https://github.com/Rapptz/discord.py.git@b3141db6e9e95280f35c1376ae74313c767a9f71
requests
wikipedia
python-dotenv
mcstatus>=11.1.1
beautifulsoup4
dnspython
emoji
mcrcon
pytz
timezonefinder
tweepy
google-api-python-client
openai==1.43.1
setuptools>=65.5
motor==3.6.*
fuzzywuzzy==0.18.*
python-Levenshtein==0.25.*
python-dateutil==2.9.0.*