discord.py==2.5.*
requests
wikipedia
python-dotenv
mcstatus>=11.1.1
beautifulsoup4
dnspython
emoji
mcrcon
pytz
timezonefinder
tweepy
google-api-python-client
openai==1.55.3
setuptools>=65.5
motor==3.6.*
fuzzywuzzy==0.18.*
python-Levenshtein==0.25.*
python-dateutil==2.9.0.*
nba_api==1.9.*